@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Optimistic_Display";
    src: url('./assets/fonts/Optimistic_Display_W_Bd.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "Optimistic_Display";
    src: url('./assets/fonts/Optimistic_Display_W_Md.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Optimistic_Display";
    src: url('./assets/fonts/Optimistic_Display_W_SBd.woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: "Optimistic_Text";
    src: url('./assets/fonts/Optimistic_Text_W_Bd.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "Optimistic_Text";
    src: url('./assets/fonts/Optimistic_Text_W_It.woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: "Optimistic_Text";
    src: url('./assets/fonts/Optimistic_Text_W_Md.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Optimistic_Text";
    src: url('./assets/fonts/Optimistic_Text_W_Rg.woff2');
    font-weight: 500;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Optimistic_Display", ui-sans-serif;
}

p {
    font-family: "Optimistic_Text", ui-sans-serif;
    white-space: pre-wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 30%);
}

li {
    color: hsl(0, 0%, 30%);
}

i {
    color: hsl(0, 0%, 40%);
    font-weight: bold;
}

.code-p {;
    color: hsl(0, 0%, 10%);
    padding: 1px .25rem;
    background-color: rgb(153 161 179 / 0.1);
    border-radius: .375rem;
}

code span {
    font-size: .9rem;
}